// @import '../../node_modules/nice-select2/src/scss/nice-select2.scss';
// @use 'sass:math';

body {background-color: #333;}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1570px;
  padding: 0 15px;

  @media (min-width: 768px) {
    padding: 0 10px;
  }
}
.cashback__inner {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  // height: 50vh;
	@media (min-width: 576px) {
	}
}
.cashback__choice-inner {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	width: 100%;
	justify-content: center;
}
.nice-select-dropdown,
.multiple-options,
.current {
	font-size: 20px;
}
.nice-select,
.nice-select .nice-select-dropdown {
	min-width: 150px;
}
.nice-select.has-multiple,
.nice-select.has-multiple .nice-select-dropdown {
	min-width: 260px;
}

button {
	cursor: pointer;
	margin-top: -2px;
	padding: 8px 10px ;
	border-radius: 7px;
	font-size: 19px;
	background-color: #fff;
}

.cashback__cards {
	margin: 0 10px;
	display: flex;
	gap: 5px 10px;
}

.cashback__card{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
}

.cashback__card-image {
	border-radius: 7%;
  margin: 0 10px 15px;
  width: 100px;
	text-align: center;
}

.cashback__categories {
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

/*
@media (min-width: 576px) {
	
}
? Tablets
@media (min-width: 768px) {
	
}
@media (min-width: 992px) {
	
}
? Desktops:
@media (min-width: 1200px) {
	
}
@media (min-width: 1400px) {
	
} */